@media (max-width: 1140px) {
	.carousel {
		width: 100%;
		&__inner {
			img {
				width: 70%;
			}
		}
		.prev, .next {
			left: -46px;
		}
		.next {
			right: -46px;
			left: auto;
		}
	}
}

@media (max-width: 1024px) {
	.promo {
		background-position: right;
	}
	.container {
		max-width: 850px;
	}
	.advantages {
		&__wrapper {
			max-width: 850px;
		}
	}
	.catalog {
		&__content {
			justify-content: space-around;
		}
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 650px;
	}
	.advantages {
		&__wrapper {
			max-width: 650px;
			flex-direction: column;
		}
		&__icons {
			margin: 0 auto;
		}
		&__icon {
			margin-top: 65px;
		}
	}
}

@media (max-width: 767px) {
	.title {
		font-size: 30px;
		text-align: center;
	}
	.promo {
		&__header {
			font-size: 42px;
		}
		&__wrapper {
			align-items: center;
		}
	}
	.container {
		width: 100%;
	}
	.header {
		margin: 0 auto;
		width: 450px;
		flex-wrap: wrap;
		//justify-content: space-around;
		&__contacts {
			margin: 21px auto 0 auto;
		}
	}
	.advantages {
		margin: 0 auto;
		&__wrapper {
			margin: 0 auto;
			width: 100%;
		}
		&__header {
			font-size: 22px;
		}
	}
	.consultation {
		&__desc {
			text-align: center;
		}
		.feed-form {
			margin: 36px auto 0 auto;
		}
	}
	.carousel {
		&__inner {
			img {
				width: 70%;
			}
		}
		.prev, .next {
			left: 10px;
		}
		.next {
			right: 10px;
			left: auto;
		}
	}
	.catalog {
		&__tab {
			width: 160px;
			div {
				font-size: 14px;
				font-weight: 400;
				line-height: 50px;
			}
		}
	}
}

@media (max-width: 575px){
	.title {
		font-size: 24px;
		font-weight: 500;
		&_left {
			font-size: 24px;
		}
	}
	.promo {
		padding-bottom: 40px;
		.header {
			width: 100%;
			flex-direction: column;
			&__logo {
				margin: 21px auto 0 auto;
			}
			&__official {
				margin: 21px auto 0 auto;
			}
		}
		&__header {
			font-size: 30px;
		}
		&__subheader {
			margin-top: 10px;
			font-size: 16px;
		}
		&__wrapper {
			margin-top: 50px;
		}
		&__icons {
			margin-top: 0;
			width: 100%;
			flex-direction: column;
			align-items: center;
			// justify-content: center;
		}
		&__icon {
			margin-top: 40px;
			width: 100%;
			font-size: 18px;
			font-weight: 500;
			img {
				width: 60px;
			}
		}
		&__link {
			margin-top: 5px;
		}
	}
	.button {
		&_main {
			margin-top: 67px;
			width: 250px;
			height: 50px;
			font-size: 16px;
		}
	}
	.catalog {
		&__tab {
			width: 85px;
			div {
				display: inline-block;
				font-size: 10px;
				font-weight: 300;
				line-height: 14px;
				vertical-align: middle;
			}
		}
	}
}