.advantages {
	min-height: 470px;
	background-color: #f6f6f6;
	padding: 70px 0 78px 0;
	&__wrapper {
		margin: 0 auto;
		width: 920px;
		display: flex;
		justify-content: space-between;
	}
	&__icons {
		margin-top: 65px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 243px;
	}
	&__icon {
		width: 70px;
		height: 70px;
	}
	&__icon-header {
		margin-top: 38px;
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		line-height: 18px;
	}
	&__icon-subheader {
		margin-top: 26px;
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 16px;
		a {
			color: #ff0000;
			text-decoration: underline;
		}
	}
	&__icon {
		&_animated {
			animation: heartbeat 1.5s ease infinite;
			// animation-name: heartbeat;
			// animation-duration: 1.5s;
			// animation-timing-function: ease;
			// animation-iteration-count: infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}