.feedback {
	padding-bottom: 71px;
	&__item {
		display: flex;
		margin-top: 100px;
		&:nth-child(2) { //первый элемент родителя это h2.title поэтому пишем двойку. При единице ничего не происходит, т.к. нет ни одного feedback__item с порядковым номером единица. Первый начинается с двойки
			margin-top: 70px;
		}
	}
	&__img {
		margin-right: 62px;
		width: 169px;
		height: 169px;
	}
	&__title {
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: left;
	}
	&__subtitle {
		color: #646464;
		font-size: 14px;
		font-weight: 300;
		text-align: left;
	}
	&__desc {
		margin-top: 10px;
		color: #0d0d0d;
		font-size: 16px;
		font-weight: 300;
		text-align: left;
	}
}
